.bookingContainer {
  display: flex;
  justify-content: space-between;
}

.selectContainer {
  width: 20%;
}

.dateContainer {
  width: 15%;
}

.inputNumberContainer {
  width: 170px;
}

@media (max-width: 830px) {
  .selectContainer {
    width: 100%;
    margin-bottom: 2rem;
  }

  .DatePickerContainer {
    width: 100%;
    margin-bottom: 2rem;
  }

  .inputNumberContainer {
    width: 100%;
    margin-bottom: 2rem;
  }

  .bookingContainer {
    flex-direction: column;
  }
}
