.successCardTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}

.successCardSubTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.successCardContainer {
  margin: 1.5rem;
  width: auto;
  font-weight: normal;
  font-size: 1rem;
}

.successCardRow {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.successCardRowTitle {
  width: 11rem;
  font-weight: bold;
}

@media (max-width: 830px) {
  .successCardContainer {
    font-size: 1rem;
    font-weight: normal;
  }

  .successCardTitle {
    font-size: 1.2rem;
    text-align: center;
  }

  .successCardSubTitle {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .successCardRow {
    flex-direction: column;
  }
}
