.flightCard {
  margin: 1.5rem;
}

.flightCity {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.flightTime {
  font-size: 1.5rem;
}

.lowerFontSize {
  font-size: 1rem !important;
}

.removeMargin {
  margin: 0 !important;
  width: auto !important;
}

.defaultFontColor {
  color: black;
}

.flightCardContainer {
  display: flex;
  flex-direction: row;
}

.flightCitiesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.flightCityContainer {
  width: 50%;
}

.flightPriceContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flightBookingButton {
  margin: 0.5rem 0;
  max-width: 200px;
  display: block;
}

.flightPriceTag {
  font-size: 1.5rem;
  font-weight: bold;
}

.flightPrice {
  font-size: 1.5rem;
}

@media (max-width: 830px) {
  .flightCitiesContainer {
    width: 100%;
  }

  .flightCardContainer {
    display: flex;
    flex-direction: column;
  }

  .flightPriceContainer {
    flex-direction: column;
  }

  .flightPriceModule {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .flightPriceTag {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
  }

  .flightPrice {
    font-size: 1.5rem;
    width: 100%;
  }

  .flightPriceContainer {
    width: 100%;
  }

  .flightBookingButton {
    margin-top: 1.5rem;
    display: block;
    width: 100%;
    max-width: inherit;
  }

  .lowerFontSize {
    font-size: 1rem !important;
    width: 100%;
  }

  .removeMargin {
    margin: 1rem 0 0 !important;
    width: inherit !important;
  }
}
