.shoppingCartIcon {
  cursor: pointer;
}

.shoppingCartMainContainer {
  height: 80%;
  overflow: auto;
}

.shoppingCartActionsContainer {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 1.5rem;
  justify-content: space-between;
  border-top: 3px solid lightgray;
}

.shoppingCartConfirmBooking {
  margin: 0;
  width: auto;
}
