.shoppingCartIcon {
  cursor: pointer;
}

.shoppingCartMainContainer {
  height: 80%;
  overflow: auto;
}

.shoppingCartActionsContainer {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 1.5rem;
  justify-content: space-between;
  border-top: 3px solid lightgray;
}

.shoppingCartConfirmBooking {
  margin: 0;
  width: auto;
}

@media (max-width: 830px) {
  .shoppingCartMainContainer {
    height: 70%;
  }

  .shoppingCartTotalPrice {
    font-size: 1rem;
  }

  .shoppingCartActionsContainer {
    padding: 1rem;
  }

  .shoppingCartConfirmBooking {
    margin-left: 10px;
    font-size: 1rem;
  }
}
