.card {
  width: 100%;
  padding: 1rem;
  box-shadow: 0px 2px 10px 10px var(--main-color-shadow);
  background-color: white;
}

.softCard {
  width: 100%;
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 0px 2px 2px var(--main-color-shadow);
}
