.errorCardTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}

.errorCardSubTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.errorCardContainer {
  margin: 1.5rem;
  width: auto;
}

@media (max-width: 830px) {
  .errorCardTitle {
    font-size: 1.2rem;
  }
  .errorCardSubTitle {
    font-size: 1rem;
  }

  .errorCardContainer {
    margin: 1rem;
  }
}
