.flightCard {
  margin: 1.5rem;
}

.flightCity {
  font-size: 1.5rem;
  font-weight: bold;
}

.flightTime {
  font-size: 1.5rem;
}

.flightCardContainer {
  display: flex;
  flex-direction: row;
}

.flightCitiesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.flightCityContainer {
  width: 50%;
}

.flightPriceContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flightBookingButton {
  margin: 0.5rem 0;
  max-width: 200px;
  display: block;
}

.flightPriceTag {
  font-size: 1.5rem;
  font-weight: bold;
}

.flightPrice {
  font-size: 1.5rem;
}
